html, body, h1, h2, p {
    margin: 0;
    padding: 0;
}

h2, p {
    word-spacing: 4px;
}
.header {
    display: flex;
    justify-content: center;
    padding-top: 32px;
    padding-bottom: 35px;
}
.header-title{
    margin-left: 35px;
    margin-right: 35px;
    text-transform: uppercase;
    color: #16a085;
    text-decoration: none;
    font-family: Arial, ﻿AdobeInvisFont, ﻿Roboto-Black, ﻿Courier;
    font-size: 18px;
    text-align: left;
    font-weight: bold;
}

.title-image{
    text-align: -webkit-center;
    margin-bottom: 0;
    padding-bottom: 0;
}

.main-img{
    width: 100%;
}

.main-content {
    padding-bottom: 47px;
    padding-top: 56px;
    background-color: #f5f6f7;
}

.container{
    margin: 0 auto;
}

.main-title{
    text-transform: uppercase;
    font-family: Arial, ﻿Roboto-Black, ﻿Courier;
    font-size: 22px;
    color: rgba(55, 55, 55, 255);
    text-align: center;
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 34px;
}

.text-container{
    margin: 0 auto;
    width: 1059px;
    text-align: center;
}

.main-text {
    line-height: 1.5;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.main-indent{
    margin-bottom: 30px;
}

.button{
    text-align: center;
    margin-top: 41px;
}


.button7 {
    font-weight: 700;
    color: rgba(255, 255, 255, 255);
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: #16a085;
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;
    font-family: ﻿GothamRounded-Bold, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 12pt;
    text-align: center;
}
.button7:hover { background: rgb(53, 167, 110); }
.button7:active {
    background: rgb(33,147,90);
    box-shadow: 0 3px rgb(33,147,90) inset;
}

.footer{
    padding-top: 47px;
    padding-bottom: 45px;
    text-align: right;
    padding-right: 104px;
}

.footer-info{
    font-family:AdobeInvisFont, ﻿Roboto-Black, ﻿Courier;
    font-size: 16px;
    color: rgba(55, 55, 55, 255);
    font-weight: bold;
}